/.DS_Store

*.bak
*.tmp
*.kicad_prl
*-cache.lib
_autosave-*
.fp-info-cache

/server/node_modules/
.vscode/settings.json


.DS_Store

# Ignore all node_modules folders
**/node_modules/

# Ignore all .vscode folders
**/.vscode/
server/pushSubscriptions.json
server/vapid.json

server/node_modules
server/data/pushSubscriptions.json
